@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Poppins', sans-serif;
  --breakpoint-3xl: 1920px;
}

:root {
  --ui-bg: var(--ui-color-neutral-100);
  --ui-bg-secondary: var(--ui-color-neutral-200);
  --ui-bg-tertiary: var(--ui-color-neutral-300);
  --ui-border: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-900);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-secondary: var(--ui-color-neutral-800);
  --ui-bg-tertiary: var(--ui-color-neutral-600);
  --ui-border: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-100);
}

button, [role="button"] {
  cursor: pointer;
}
